openapi: 3.0.0
info:
  contact:
    name: Twitter Developers
    url: https://developer.twitter.com/
  description: Twitter API v2 available endpoints
  license:
    name: Twitter Developer Agreement and Policy
    url: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  termsOfService: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  title: Twitter API v2
  version: latest
servers:
- description: Twitter API
  url: https://api.twitter.com
tags:
- description: Endpoints related to keeping Twitter data in your systems compliant
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction
  name: Compliance
- description: Miscellaneous endpoints for general API functionality
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api
  name: General
- description: Endpoints related to retrieving, managing Lists
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/lists
  name: Lists
- description: Endpoints related to retrieving, managing Spaces
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/spaces
  name: Spaces
- description: Endpoints related to retrieving, searching, and modifying Tweets
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
  name: Tweets
- description: Endpoints related to retrieving, managing relationships of Users
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
  name: Users
paths:
  /2/users:
    get:
      description: This endpoint returns information about users. Specify users by
        their ID.
      operationId: findUsersById
      parameters:
      - description: Required. A list of User IDs, comma-separated. You can specify
          up to 100 IDs.
        example: 2244994945,6253282,12
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/UserID'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: User lookup by IDs
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}:
    get:
      description: This endpoint returns information about a user. Specify user by
        ID.
      operationId: findUserById
      parameters:
      - description: Required. A User ID.
        example: "2244994945"
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: User lookup by ID
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/by:
    get:
      description: This endpoint returns information about users. Specify users by
        their username.
      operationId: findUsersByUsername
      parameters:
      - description: Required . A list of usernames, comma-separated. You can specify
          up to 100 usernames.
        example: TwitterDev,TwitterAPI,jack
        explode: false
        in: query
        name: usernames
        required: true
        schema:
          items:
            $ref: '#/components/schemas/UserName'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: User lookup by usernames
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/me:
    get:
      description: This endpoint returns information about the requesting user.
      operationId: findMyUser
      parameters:
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: User lookup me
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/by/username/{username}:
    get:
      description: This endpoint returns information about a user. Specify user by
        username.
      operationId: findUserByUsername
      parameters:
      - description: Required. A username.
        example: TwitterDev
        explode: false
        in: path
        name: username
        required: true
        schema:
          $ref: '#/components/schemas/UserName'
        style: simple
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [User](#User) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: User lookup by username
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/blocking:
    get:
      description: Returns a list of users that are blocked by the provided user ID
      operationId: usersIdBlocking
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          maxLength: 16
          minLength: 16
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Returns user objects that are blocked by provided user ID
      tags:
      - Twitter
      x-accepts: application/json
    post:
      description: Causes the user (in the path) to block the target user. The user
        (in the path) must match the user context authorizing the request
      operationId: usersIdBlock
      parameters:
      - description: The ID of the user that is requesting to block the target user
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UsersIdBlockRequest'
        content:
          application/json:
            schema:
              example:
                target_user_id: target_user_id
              properties:
                target_user_id:
                  pattern: ^[0-9]{1,19}$
                  title: UsersIdBlockRequestTargetUserId
                  type: string
              required:
              - target_user_id
              title: UsersIdBlockRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersBlockingMutationResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Block User by User ID
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/users/{source_user_id}/blocking/{target_user_id}:
    delete:
      description: Causes the source user to unblock the target user. The source user
        must match the user context authorizing the request
      operationId: usersIdUnblock
      parameters:
      - description: The ID of the user that is requesting to unblock the target user
        explode: false
        in: path
        name: source_user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The ID of the user that the source user is requesting to unblock
        explode: false
        in: path
        name: target_user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersBlockingMutationResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Unblock User by User ID
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{source_user_id}/muting/{target_user_id}:
    delete:
      description: Causes the source user to unmute the target user. The source user
        must match the user context authorizing the request
      operationId: usersIdUnmute
      parameters:
      - description: The ID of the user that is requesting to unmute the target user
        explode: false
        in: path
        name: source_user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The ID of the user that the source user is requesting to unmute
        explode: false
        in: path
        name: target_user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMutingMutationResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Unmute User by User ID
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/muting:
    get:
      description: Returns a list of users that are muted by the provided user ID
      operationId: usersIdMuting
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Returns user objects that are muted by the provided user ID
      tags:
      - Twitter
      x-accepts: application/json
    post:
      description: Causes the user (in the path) to mute the target user. The user
        (in the path) must match the user context authorizing the request
      operationId: usersIdMute
      parameters:
      - description: The ID of the user that is requesting to mute the target user
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UsersIdMuteRequest'
        content:
          application/json:
            schema:
              example:
                target_user_id: target_user_id
              properties:
                target_user_id:
                  pattern: ^[0-9]{1,19}$
                  title: UsersIdMuteRequestTargetUserId
                  type: string
              required:
              - target_user_id
              title: UsersIdMuteRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMutingMutationResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Mute User by User ID
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/users/{id}/followers:
    get:
      description: Returns a list of users that follow the provided user ID
      operationId: usersIdFollowers
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          maxLength: 16
          minLength: 16
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Returns user objects that follow the provided user ID
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/by/username/{username}/followers:
    get:
      description: Returns a list of users that follow the provided username
      operationId: usernameFollowers
      parameters:
      - description: The username of the user for whom to return results
        explode: false
        in: path
        name: username
        required: true
        schema:
          $ref: '#/components/schemas/UserName'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          maxLength: 16
          minLength: 16
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Returns user objects that follow the provided username
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/following:
    get:
      description: Returns a list of users that are being followed by the provided
        user ID
      operationId: usersIdFollowing
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          maxLength: 16
          minLength: 16
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Following by User ID
      tags:
      - Twitter
      x-accepts: application/json
    post:
      description: Causes the user(in the path) to follow, or “request to follow”
        for protected users, the target user. The user(in the path) must match the
        user context authorizing the request
      operationId: usersIdFollow
      parameters:
      - description: The ID of the user that is requesting to follow the target user
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UsersIdFollowRequest'
        content:
          application/json:
            schema:
              example:
                target_user_id: target_user_id
              properties:
                target_user_id:
                  pattern: ^[0-9]{1,19}$
                  title: UsersIdFollowRequestTargetUserId
                  type: string
              required:
              - target_user_id
              title: UsersIdFollowRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingCreateResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Follow User
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/users/by/username/{username}/following:
    get:
      description: Returns a list of users that being followed by the provided username
      operationId: usernameFollowing
      parameters:
      - description: The username of the user for whom to return results
        explode: false
        in: path
        name: username
        required: true
        schema:
          $ref: '#/components/schemas/UserName'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          maxLength: 16
          minLength: 16
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Following by username
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{source_user_id}/following/{target_user_id}:
    delete:
      description: Causes the source user to unfollow the target user. The source
        user must match the user context authorizing the request
      operationId: usersIdUnfollow
      parameters:
      - description: The ID of the user that is requesting to unfollow the target
          user
        explode: false
        in: path
        name: source_user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The ID of the user that the source user is requesting to unfollow
        explode: false
        in: path
        name: target_user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingDeleteResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Unfollow User
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/followed_lists:
    get:
      description: Returns a user's followed Lists.
      operationId: userFollowedLists
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A comma separated list of List fields to display.
        explode: false
        in: query
        name: list.fields
        required: false
        schema:
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [List](#List) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - owner_id
          items:
            enum:
            - owner_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Get User's Followed Lists
      tags:
      - Twitter
      x-accepts: application/json
    post:
      description: Causes a user to follow a List.
      operationId: listUserFollow
      parameters:
      - description: The ID of the authenticated source user that will follow the
          List
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFollowRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFollowedResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Follow a List
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/users/{id}/followed_lists/{list_id}:
    delete:
      description: Causes a user to unfollow a List.
      operationId: listUserUnfollow
      parameters:
      - description: The ID of the authenticated source user that will unfollow the
          List
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The ID of the List to unfollow
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          $ref: '#/components/schemas/ListID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFollowedResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Unfollow a List
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/list_memberships:
    get:
      description: Get a User's List Memberships.
      operationId: getUserListMemberships
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A comma separated list of List fields to display.
        explode: false
        in: query
        name: list.fields
        required: false
        schema:
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [List](#List) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - owner_id
          items:
            enum:
            - owner_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Get a User's List Memberships
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/owned_lists:
    get:
      description: Get a User's Owned Lists.
      operationId: listUserOwnedLists
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The maximum number of results
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A comma separated list of List fields to display.
        explode: false
        in: query
        name: list.fields
        required: false
        schema:
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [List](#List) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - owner_id
          items:
            enum:
            - owner_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Get a User's Owned Lists
      tags:
      - Twitter
      x-accepts: application/json
  /2/users/{id}/pinned_lists:
    get:
      description: Get a User's Pinned Lists.
      operationId: listUserPinnedLists
      parameters:
      - description: The ID of the user for whom to return results
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: A comma separated list of List fields to display.
        explode: false
        in: query
        name: list.fields
        required: false
        schema:
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [List](#List) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - owner_id
          items:
            enum:
            - owner_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListNoPaginationResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Get a User's Pinned Lists
      tags:
      - Twitter
      x-accepts: application/json
    post:
      description: Causes a user to pin a List.
      operationId: listUserPin
      parameters:
      - description: The ID of the authenticated source user that will pin the List
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPinRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPinnedResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Pin a List
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/users/{id}/pinned_lists/{list_id}:
    delete:
      description: Causes a user to remove a pinned List.
      operationId: listUserUnpin
      parameters:
      - description: The ID of the authenticated source user that will remove the
          pinned List
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: simple
      - description: The ID of the List to unpin
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          $ref: '#/components/schemas/ListID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPinnedResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Unpin a List
      tags:
      - Twitter
      x-accepts: application/json
  /2/tweets:
    get:
      description: Returns a variety of information about the Tweet specified by the
        requested ID.
      operationId: findTweetsById
      parameters:
      - description: A comma separated list of Tweet IDs. Up to 100 are allowed in
          a single request.
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/TweetID'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiTweetLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Tweet lookup by Tweet IDs
      tags:
      - Twitter
      x-accepts: application/json
    post:
      description: Causes the user to create a tweet under the authorized account.
      operationId: createTweet
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/CreateTweetRequest'
        content:
          application/json:
            schema:
              example:
                geo:
                  place_id: place_id
                quote_tweet_id: "1346889436626259968"
                for_super_followers_only: true
                direct_message_deep_link: direct_message_deep_link
                text: Learn how to use the user Tweet timeline and user mention timeline
                  endpoints in the Twitter API v2 to explore Tweet\u2026 https:\/\/t.co\/56a0vZUx7i
                media:
                  media_ids:
                  - "1146654567674912769"
                  - "1146654567674912769"
                  tagged_user_ids:
                  - "2244994945"
                  - "2244994945"
                poll:
                  duration_minutes: 811
                  options:
                  - null
                  - null
                reply:
                  exclude_reply_user_ids:
                  - "2244994945"
                  - "2244994945"
                  in_reply_to_tweet_id: "1346889436626259968"
                reply_settings: following
              properties:
                text:
                  description: The content of the Tweet.
                  example: Learn how to use the user Tweet timeline and user mention
                    timeline endpoints in the Twitter API v2 to explore Tweet\u2026
                    https:\/\/t.co\/56a0vZUx7i
                  type: string
                direct_message_deep_link:
                  description: Link to take the conversation from the public timeline
                    to a private Direct Message.
                  title: CreateTweetRequestDirectMessageDeepLink
                  type: string
                quote_tweet_id:
                  description: Unique identifier of this Tweet. This is returned as
                    a string in order to avoid complications with languages and tools
                    that cannot handle large integers.
                  example: "1346889436626259968"
                  pattern: ^[0-9]{1,19}$
                  type: string
                for_super_followers_only:
                  description: Exclusive Tweet for super followers.
                  title: CreateTweetRequestForSuperFollowersOnly
                  type: boolean
                reply:
                  $ref: '#/components/schemas/CreateTweetRequestReply'
                media:
                  $ref: '#/components/schemas/CreateTweetRequestMedia'
                poll:
                  $ref: '#/components/schemas/CreateTweetRequestPoll'
                reply_settings:
                  description: Settings to indicate who can reply to the Tweet.
                  enum:
                  - following
                  - mentionedUsers
                  title: CreateTweetRequestReplySettings
                  type: string
                geo:
                  $ref: '#/components/schemas/CreateTweetRequestGeo'
              title: CreateTweetRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetCreateResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Creation of a Tweet
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/tweets/{id}:
    delete:
      description: Delete specified Tweet (in the path) by ID.
      operationId: deleteTweetById
      parameters:
      - description: The ID of the Tweet to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/TweetID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetDeleteResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Tweet delete by Tweet ID
      tags:
      - Twitter
      x-accepts: application/json
    get:
      description: Returns a variety of information about the Tweet specified by the
        requested ID.
      operationId: findTweetById
      parameters:
      - description: A single Tweet ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/TweetID'
        style: simple
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTweetLookupResponse'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Tweet lookup by Tweet ID
      tags:
      - Twitter
      x-accepts: application/json
  /2/tweets/{id}/hidden:
    put:
      description: Hides or unhides a reply to an owned conversation.
      operationId: hideReplyById
      parameters:
      - description: The ID of the reply that you want to hide or unhide.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/TweetID'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/HideReplyByIdRequest'
        content:
          application/json:
            schema:
              example:
                hidden: true
              properties:
                hidden:
                  title: HideReplyByIdRequestHidden
                  type: boolean
              title: HideReplyByIdRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HideReplyByIdResponse'
          description: A successful response. The reply has been hidden or unhidden.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - UserToken: []
      summary: Hide replies
      tags:
      - Twitter
      x-contentType: application/json
      x-accepts: application/json
  /2/tweets/search/recent:
    get:
      description: Returns Tweets from the last 7 days that match a search query.
      operationId: tweetsRecentSearch
      parameters:
      - description: One query/rule/filter for matching Tweets. Up to 512 characters.
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
          maxLength: 512
          minLength: 1
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent
          7 days) from which the Tweets will be provided. Timestamp is in second granularity
          and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to
          which the Tweets will be provided. Timestamp is in second granularity and
          is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Returns results with a Tweet ID greater than (that is, more recent
          than) the specified ID.
        explode: true
        in: query
        name: since_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: Returns results with a Tweet ID less than (that is, older than)
          the specified ID.
        explode: true
        in: query
        name: until_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: The maximum number of search results to be returned by a request.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 10
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results. The
          value used with the parameter is pulled directly from the response provided
          by the API, and should not be modified.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetSearchResponse'
          description: Tweets recent search response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
        UserToken: []
      summary: Recent search
      tags:
      - Twitter
      x-accepts: application/json
  /2/tweets/search/all:
    get:
      description: Returns Tweets that match a search query.
      operationId: tweetsFullarchiveSearch
      parameters:
      - description: One query/rule/filter for matching Tweets. Up to 1024 characters.
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
          maxLength: 1024
          minLength: 1
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the
          Tweets will be provided. Timestamp is in second granularity and is inclusive
          (i.e. 12:00:01 includes the first second of the minute).
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to
          which the Tweets will be provided. Timestamp is in second granularity and
          is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Returns results with a Tweet ID greater than (that is, more recent
          than) the specified ID.
        explode: true
        in: query
        name: since_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: Returns results with a Tweet ID less than (that is, older than)
          the specified ID.
        explode: true
        in: query
        name: until_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetID'
        style: form
      - description: The maximum number of search results to be returned by a request.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 10
          format: int32
          maximum: 500
          minimum: 10
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results. The
          value used with the parameter is pulled directly from the response provided
          by the API, and should not be modified.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetSearchResponse'
          description: Tweets full archive search response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Full-archive search
      tags:
      - Twitter
      x-accepts: application/json
  /2/tweets/search/stream:
    get:
      description: Streams Tweets matching the stream's active rule set.
      operationId: searchStream
      parameters:
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: The list of fields you can expand for a [Tweet](#Tweet) object.
            If the field has an ID, it can be expanded into a full object.
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The list of fields you can display for a [Tweet](#Tweet) object.
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The list of fields you can display for a [User](#User) object.
          example:
          - username
          - verified
          - profile_image_url
          items:
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          items:
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            type: string
          minItems: 1
          type: array
[...]
